.details-container {
  width: 90%;
}

h2 {
  margin: .3em auto;
}

.card-update-delete {
  align-self: flex-start;
  margin: .3em 0;
}

.spot-header {
  margin: .9em auto;
}
.image-gallery {
  /* border: 2px solid pink; */
  width: 99%;
  margin: auto;
}

.default-image {
  width: 512px;
  height: 512px;
}

.spot-images-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 120px;
  height: 120px;
}

.spot-description-container {
  display: flex;
  justify-content: space-between;
  padding: 1em
}

.spot-description {
  width: 28em;
}

.spot-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 25%
}

.spot-reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
  border: 2px solid #222222;
  border-radius: 12px;
  width: 275px;
  height: 105px;
}

.spot-images {
  width: 256px;
  height: 256px;
}

.reviews-header {
  width: 100%;
  margin: 1em auto;
}

