.landing-page {
  color: purple;
  font-size: ;
}

.landing-page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid pink;
  margin: 1.6em auto;
  width: 72em;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed blue;
  width: 16em;
  height: 20em;
  margin: 0.7em 0.5em;
  cursor: pointer;
}
.card-img {
  width: 16em;
  height: 16em;
  border: 1px dotted brown;
  margin-bottom: 4px;
  object-fit: cover;
}

.card-details {
  display: flex;
  justify-content: space-between;
  border: 1px solid fuchsia;
  width: 96%;
  margin-bottom: 0.5em;
  font-size: 14px;
}

.card-price {
  border: 1px solid lime;
  width: 96%;
  font-size: 15px;
}

.card-price .bold {
  font-weight: bold;
}
