* {
  color: #222222;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

.blue {
  color: #477E8B;
}

input {
  width: 98%;
  height: 26px;
  padding: 6px;
  border: 2px solid #222222;
  border-radius: 3px;
  margin: .4em auto;
}

textarea {
  width: 98%;
  padding: 6px;
  border: 2px solid #222222;
  border-radius: 3px;
  margin: .5em auto;
}

ul {
  list-style: none;
}

button:hover {
  box-shadow: 1px 3px 6px #dddddd;
}

h4 {
  margin: .2em auto;
}

p {
  margin: .2em auto;
  font-size: small;
  font-weight: 600;
}

.red-button {
  background-color: #ff5b5f;
  width: 220px;
  height: 35px;
  border: 2px solid #222222;
  border-radius: 3px;
  color: #fffffe;
  font-size: small;
  cursor: pointer;
}

.red-button-small {
  background-color: #ff5b5f;
  border: 2px solid #222222;
  border-radius: 3px;
  color: #fffffe;
  font-size: small;
  cursor: pointer;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.oval-button {
  background-color: #666666;
  border: 2px solid #222222;
  border-radius: 30px;
  color: #fffffe;
  padding: .4em .6em;
}

.no-underline {
  text-decoration: none;
}

.hidden {
  display: none;
}

.small {
  font-size: small;
}

.regular {
  font-weight: 300;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.mid-dot {
  margin: 0 .3em;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

.validation-errors {
  color: red;
}

.image {
  object-fit: cover;
  border-radius: 12px;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.6em 0em;
  max-width: 72em;
  margin: 0 auto;
}

.page-container-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.6em 0em;
  max-width: 72em;
  /* border: 2px solid blue; */
}
